.env
.DS_Store
*/.DS_Store
composer.lock
package-lock.json
npm-debug.log
npm-debug.log

assets_dist
package-lock.json
v8-compile-cache-0
node_modules
node_modules/.yarn-integrity
vendor

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
