ul.mobile-menu
    list-style-type: none
    margin: $mobile-menu-margin-y 0
    padding: 0
    font-size: 1.8em
    li.nav-item
        a
            color: $blackText
        &.dropdown
            display: flex
            flex-direction: column
            a.dropdown-toggle
                padding: 0
            .dropdown-menu
                position: relative
                width: 100%
                border: none
                font-size: inherit
                > *
                    display: none
                &.show
                    .submenu-item
                        display: flex
                        > *
                            display: none
                        .dropdown-item
                            display: flex
                            padding: 0
                            &::before
                                content: "└"
                                padding-right: 10px
