@mixin fontFace($fontname, $fontfile, $fontformat: "truetype", $fontweight: normal, $fontsize: normal)
    font-family: $fontname
    src: url("../fonts/#{$fontfile}") format($fontformat)
    font-weight: $fontweight
    font-style: $fontsize

@mixin frameSet($framename, $backgroundColor, $borderRadius: 3px, $padding: 1px 6px)
    .cadre-#{$framename}
        background-color: $backgroundColor
        border-radius: $borderRadius
        padding: $padding
