{% extends "base.twig" %}

{% block content %}
    <div class="container content-text">
        <div class="row mb-5">
            <div class="col">
                <h1>{{ post.post_title }}</h1>
                <br/>
                {{ post.content }}
            </div>
        </div>
    </div>
{% endblock %}