{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="content-text container">
			<article id="post-{{ news.id }}">
				<h1 class="article-heading">{{ news.title }}</h1>
				<div class="news-date">Publié le {{ news.date }}</div> 
                {{ news.fullContent }}
			</article>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
