.btn-primary,
.wp-block-button__link,
.wp-block-file__button {
  background: var(--main-color) !important;
  border-color: var(--main-color) !important;
  box-shadow: none;
  border-radius: 0px;
  padding: .5em 1em;
  color: $colorBtnPrimary !important;
}

.btn-primary:hover,
.wp-block-button__link:hover,
.wp-block-file__button:hover {
  color: $colorBtnPrimary !important;
}

.btn-outline-primary.btn-fiche-suplomfr {
  border-color: $colorBtnOutline;
  color: $colorBtnOutline;
}

.btn-outline-primary.btn-fiche-suplomfr:hover {
  background-color: transparent;
  color: $colorBtnOutline;
}

.btn:focus,
.btn-primary:focus,
.wp-block-button__link:focus,
.wp-block-file__button:focus {
  box-shadow: none !important;
}

.btn-outline-primary {
  border-color: var(--main-color);
  box-shadow: 0px 3px 6px $colorBtnBoxshadow;
  color: var(--main-color);
}

.btn-outline-primary:hover {
  background-color: transparent;
  color: var(--main-color);
}

.btn-ressource {
  font-size: 14px;
}

.btn {
  background-color: var(--main-color);
  color: #6c6c6c;
  border-radius: 0px;
}

.btn-category {
  background: #F4F4F4 !important;
  border: 0px !important;
  color: $grayText !important;
  padding: .35em .75em;
  box-shadow: none;
  margin: 0 3px;
  font-size: 0.85em;

  &:first-child {
    margin-left: 0 !important;
  }

  &:last-child {
    margin-right: 0 !important;
  }

  &.active {
    background: $grayText !important;
    color: white !important;

    &:hover {
      color: white !important;
    }
  }

  &:hover {
    color: black !important;
  }
}