.btn-primary,
.wp-block-button__link {
  background-color: var(--main-color);
  border-color: var(--main-color);
  box-shadow: none;
  border-radius: 4px;
  padding: .5em 1em;
  color: $colorBtnPrimary !important;
}

.btn-primary:hover,
.wp-block-button__link:hover {
  color: $colorBtnPrimary;
}

.btn-outline-primary.btn-fiche-suplomfr {
  border-color: $colorBtnOutline;
  color: $colorBtnOutline;
}

.btn-outline-primary.btn-fiche-suplomfr:hover {
  background-color: transparent;
  color: $colorBtnOutline;
}

.btn:focus,
.btn-primary:focus,
.wp-block-button__link:focus {
  box-shadow: none;
}

.btn-outline-primary {
  border-color: var(--main-color);
  box-shadow: 0px 3px 6px $colorBtnBoxshadow;
  color: var(--main-color);
}

.btn-outline-primary:hover {
  background-color: transparent;
  color: var(--main-color);
}

.btn-ressource {
  font-size: 14px;
}

.btn {
  background-color: var(--main-color);
  color: #6c6c6c;
  border-radius: 4px;
}
