footer {
  background-color: $footerColor;
  margin-top: 50px;
  padding: 60px 30px;
  color: $linkFooter;

  .footer-content {
    margin: auto;
    width: 60%;

    h1 {
      font-size: 18px;
      font-weight: bold;
    }

    a {
      color: $linkFooter;
    }

    ul {
      padding-left: 0px;

      li {
        font-size: 14px;
        list-style-type: none;
      }
    }
  } 

  .footer-logo{
    padding-top: 60px;
    text-align: center;

    img {
      padding-bottom: 50px;
      max-width: 300px;
      max-height: 150px;
    }
  }

  a {
    color: $linkFooter;
    font-size: 14px;
    font-weight: bold;
  }
}

.footer-copyright {
  background-color: $blackBg;
  color: $linkFooter;
  font-size: 13px;
  height: 30px;
  padding-top: 3px;
  text-align: center;
}