.content-text {
    h1.article-heading {
        margin-bottom: 0;
    }
    .news-date {
        color: $grayText;
        font-family: "Lato";
        font-size: 0.85em;
        margin-bottom: 3.5em;
    }
    .wp-block-image {
        margin-bottom: 3em !important;
    }
    iframe {
        margin: 3em 0 !important;
    }
}

.news-siderbar {
    margin-top: 5em;
    padding-left: 50px;

    h5 {
        margin-top: 0 !important;
    }

    ul {
        padding-left: 0;

        li {
            list-style-type: none;
            padding: 15px 0;
            border-bottom: 1px solid #eee;
            border-left: 1px solid #eee;

            h6 {
                color: $blackText !important;
                font-weight: 100;
                font-size: 0.9em;
            }
        }
    }
}

.link {
    color: black !important;
    padding-bottom: 2px;
    border-bottom: 1px solid $grayAltSecondary;

    &:hover {
        border-bottom: 0px;
    }
}

.unt-breadcrumb {
    a {
        i.fa {
            padding-right: 10px !important;
        }
    }
}