.text {
    .text-UVED {
        color: $uvedColor;
    }

    .text-UNESS {
        color: $unessColor;
    }

    .text-UNISCIEL {
        color: $uniscielColor;
    }

    .text-UNIT {
        color: $unitColor;
    }

    .text-IUT-en-ligne {
        color: $iutColor;
    }

    .text-UNJF {
        color: $unjfColor;
    }

    .text-UNIT {
        color: $unitColor;
    }

    .text-AUNEGE {
        color: $aunegeColor;
    }
}
